@import "./reset.css";
@import "./components/Header/header.css";
@import "./components/Home/home.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@font-face {
  font-family: Bicyclette;
  font-weight: bold;
  src: url("../src/fonts/Bicyclette-Bold.ttf");
}

@font-face {
  font-family: Righteous;
  font-weight: bold;
  src: url("../src/fonts/Righteous-Regular.ttf");
}

:root {
  --background: rgb(245, 243, 236);
  --dark-blue: rgb(28, 44, 89);
  --darker-blue: rgb(18, 28, 57);
  --blue-green: rgb(135, 173, 171);
  --yellow: rgb(247, 185, 78);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--background);

  &::before {
    content: "";
    display: block;
    margin: auto;
    position: fixed;
    height: 100%;
    width: 100%;
    border: 20px solid transparent;
    border-image: var(--lace-border) 1 fill;
    border-image-outset: 25px;
    z-index: -1;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

#content {
  position: relative;
  padding: 0 100px;
}
